@media screen and (min-width: 1024px) {
    .icon-facebook:hover {
        color: #4267B2;
    }

    .icon-instagram:hover {
        background: radial-gradient(circle farthest-corner  at 35% 90%,   #fec564, transparent 30%), 
                    radial-gradient(circle farthest-corner  at 0 140%,    #fec564, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 0 -25%,    #5258cf, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 20% -50%,  #5258cf, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 100% 0,    #893dc2, transparent 30%),
                    radial-gradient(ellipse farthest-corner at 60% -20%,  #893dc2, transparent 30%),
                    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
                    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        border-radius: 30%;
    }

    .icon-deviantart:hover {
        color: #05CC47;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/wallpaper.jpg");
    }

    .draw-container {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-image: linear-gradient(to bottom, #565656, rgb(145, 145, 145), #1b2127);
        height: 100%;
    }
    

    .grid-container{
        grid-template-columns: [linea1];
        grid-template-areas:" header "
                            " photo "
                            " me "
                            " draw-container "
                            " footer ";
        grid-template-rows: 30px 100px 150px 1fr 100%;
        height: 100%;
    }

    .photo {
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }

    .photo-container {
        display: inherit;
        justify-content: inherit;
    }

    .me {
        margin: auto;   
        width: 95%;
    }

    .draw-container {
        display: flex;
        width: 90%;
        margin: 5px auto 25px auto;
    }

    .parent {
        height: 450px;
        width: 99%;
        margin-top: 10px;
    }

    .child {
        margin: 0;
    }

    .footer {
        font-size: .7em;
        height: 30px;
        border-radius: 0;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .footer span {
        display: none;
    }

    .footer p {
        height: 20px;
    }
}

/* @media screen and (max-width: 767px) {
    body {
        background-image: linear-gradient(to bottom, #565656, rgb(145, 145, 145), #1b2127);
        height: 100%;
    }

    .header p {
        background: none;
    }

    .grid-container {
        height: 100%;
    }

    .me {
        border: 2px solid rgba(119, 119, 119, 0.3);
        text-align: justify;
        margin: 0;
        height: fit-content;
        width: fit-content;
    }

    .parent {
        width: 45%;
        margin: 1% 2%;    
    }

    .footer {
        width: 100%;
        margin-top: 10px;
        border-radius: 0;
    }
} */