@media screen and (min-width: 1024px) {
    


                                    /* iconos de redes sociales */

    .icon-facebook:hover {
        color: #4267B2;
    }

    .icon-instagram:hover {
        background: radial-gradient(circle farthest-corner  at 35% 90%,   #fec564, transparent 30%), 
                    radial-gradient(circle farthest-corner  at 0 140%,    #fec564, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 0 -25%,    #5258cf, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 20% -50%,  #5258cf, transparent 30%), 
                    radial-gradient(ellipse farthest-corner at 100% 0,    #893dc2, transparent 30%),
                    radial-gradient(ellipse farthest-corner at 60% -20%,  #893dc2, transparent 30%),
                    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
                    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        border-radius: 30%;
    }

    .icon-deviantart:hover {
        color: #05CC47;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/wallpaper.jpg");
    }

    .draw-container {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/wallpaper-phone.jpg");
    }

    .me {
        border: 2px solid rgba(119, 119, 119, 0.3);
        text-align: justify;
        margin-bottom: 20px;
    }

    .draw-container {
        margin-bottom: 10px;
    }

    .parent {
        width: 45%;
        margin: 1% 2%;    
    }

    .footer {
        width: 80%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .grid-container{
        grid-template-columns: [linea1] auto;
        grid-template-areas:" header "
                            " photo "
                            " me "
                            " draw-container "
                            " footer ";
    }

    .photo {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .photo-container {
        display: inherit;
        justify-content: inherit;
    }

    .me {
        width: 95vw;
        margin: auto;
        margin-bottom: 20px;    
    }

    .parent {
        height: 300px;
        width: 90vw;
        margin: 1% 0;
    }

    .child {
        margin: 0;
        height: 100%;
    }

    .footer {
        font-size: .7em;
        width: 100vw;
        height: 30px;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }

    .footer span {
        display: none;
    }

    .footer p {
        height: 20px;
    }
}