@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/fonts/icomoon.eot?dyrqkq');
    src:  url('../icomoon/fonts/icomoon.eot?dyrqkq#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?dyrqkq') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?dyrqkq') format('woff'),
    url('../icomoon/fonts/icomoon.svg?dyrqkq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-deviantart:before {
    content: "\eaaa";

}
.icon-navigate_before:before {
    content: "\e408";
}
.icon-navigate_next:before {
    content: "\e409";
}
.icon-x-altx-alt:before {
    content: "\e900";
}


body{
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-container {
    width: 100vw;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: [linea1] 0.5fr[linea2] 8fr;
    grid-template-rows: [header] [me] [hero] [footer];
    grid-template-areas:"header header"
                        "photo me"
                        "draw-container draw-container"
                        "footer footer";
}

p {
    padding: 0;
    margin: 0;
}

                                                                        /*logo*/
.photo {
    grid-area: photo;
}

                                                                        /*header*/
.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 5px
}

.header p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    border-radius: 50% 50% 50px 50px;
    background: #565656;
    height: 30px;
    width: 300px;
}

                                                                        /*me*/
.me {
    grid-area: me;
    font-size: 1.0em;
    font-weight: bold;
    color: #3a3a3a;
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    height: auto;
    width: 80%;
    margin: 30px 0 70px 7%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.me p {
    padding: 0 20px;
}

                                                                        /*imagenes*/
.draw-container {
    grid-area: draw-container;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parent {
    height: 380px;
    width: 18%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    background-size: cover;
    transition: all .5s;
}

.bg-1 {background-image: url("../images/IMG1.jpg");}
.bg-2 {background-image: url("../images/IMG6.jpg");}
.bg-3 {background-image: url("../images/IMG11.jpg");}
.bg-4 {background-image: url("../images/IMG16.jpg");}
.bg-5 {background-image: url("../images/IMG21.jpg");}

.child a {
    display: none;
    font-size: 35px;
    color: white !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

                                                        /*footer*/
.footer {
    grid-area: footer;
    display: flex;
    font-family: 'Spectral', serif;
    font-size: .8em;
    background-color: #1b2127;
    align-items: center;
    justify-content: space-around;
    color: #D5D5D5;
    height: 35px;
    width: 50%;
    margin: auto;
    border-radius: 50px 50px 50% 50%;
    margin-top: 20px;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
    text-decoration: none;
}

.social-link {
    width: 4vh;
    height: 4vh;
    margin: 5px;
    font-size: 1.5em;
}

                                    /* creditos */

.grid-credits{
    position: relative;
}

.credits-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    font-size: 1em;
    background: #1B2127;
}

.credits-description {
    font-weight: bold;
    display: inline-block;
    width: auto;
}

.grid-credits:hover .credits-overlay {
    display: flex;
}

                                    /* photo */
.photo-container {
    position: relative;
    margin: 0;
    float: left;
    width: 90px;
    height: 90px;
}

.photo-container img  {
    border-radius: 50%;
    align-items: center;
    transition: opacity 1s ease-out;
    position: absolute;
    width: 90px;
    height: 90px;
}

.top {
    position: absolute;
    width: 90px;
    height: 90px;
}

.photo-container img.top:hover {
    opacity: 0;
    width: 90px;
    height: 90px;
}

.draw-container {
    margin-left: 3vw;
    margin-right: 3vw;
}

.parent:hover .child, .parent:focus .child {
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}