@font-face {
    font-family: 'icomoon';
    src:  url('../icomoon/fonts/icomoon.eot?dyrqkq');
    src:  url('../icomoon/fonts/icomoon.eot?dyrqkq#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?dyrqkq') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?dyrqkq') format('woff'),
    url('../icomoon/fonts/icomoon.svg?dyrqkq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-deviantart:before {
    content: "\eaaa";
}




body{
    margin: 0;
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

.main-container {
    max-width: 95vw;
    display: flex;
    margin: auto;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: [linea1] 0.5fr[linea2] 8fr;
    grid-template-rows: [header] [me] [hero] [footer] [final];
    flex-wrap: wrap;
    grid-template-areas:"header header"
                        "photo me"
                        "draw-container draw-container"
                        "footer footer";
}

p {
    padding: 0;
    margin: 0;
}

                                                        /*logo*/

.photo-container {
    grid-area: photo;
    display: flex;
    height: 16vh;
    margin: auto;
}

.photo {
    margin: 0;
}

.photo img {
    border-radius: 50%;
    align-items: center;
}


                                                        /*header*/
.header {
    grid-area: header;
    display: flex;
    background: #565656;
    color: #ffffff;
    border-radius: 50% 50% 50px 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    height: 5vh;
    width: 25%;
    margin: auto;
    justify-content: center;
}

                                                        /*me*/
.me {
    grid-area: me;
    font-size: 1.1em;
    color: #3a3a3a;
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    height: 8vh;
    width: 80%;
    margin: 3vh 0 10vh 7%;
    border-radius: 15px;
}

                                                        /*imagenes*/
.draw-container {
    grid-area: draw-container;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    margin: 1vh;
    
}

.draws {
    margin: 0;
    height: 60vh;
    filter:brightness(0.7);
}

.draws img {
    width: 100%;
    border-radius: 15px;
}

figure {
    display: flex;
}

                                                        /*footer*/
.footer {
    grid-area: footer;
    font-family: 'Spectral', serif;
    font-size: .8em;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #D5D5D5;
    height: 5vh;
    width: 70%;
    margin: auto;
    border-radius: 50px 50px 50% 50%;
    margin-top: 7vh;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
    text-decoration: none;
}

.social-link {
    width: 4vh;
    height: 4vh;
    margin: 5px;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}


                                                        /* Animacion de la descripcion de los dibujos */
.grid-item {
    cursor: pointer;
    position: relative;
    display: block;
}

.draw-overlay {
    background: rgba(0,0,0, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-size: 50px;
    width: auto;
}

.grid-item:hover .draw-overlay {
    display: flex;
}

.draw-description {
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
