body{
    margin: 0;
    background: #D8CDC6;
}

.main-container {
    max-width: 95vw;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: [inicio] 1fr [linea2] 1fr [centro] 1fr [linea4] 1fr [final] 1fr;
    grid-template-rows: [header] [me] [hero] [footer] [final];
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    grid-template-areas:"photo header header header header"
                        "photo me me me me"
                        "draw-container draw-container draw-container draw-container draw-container"
                        "footer footer footer footer footer";
}

p {
    padding: 0;
    margin: 0;
}

                                                        /*logo*/

.photo-container {
    grid-area: photo;
    display: flex;
    height: 13vh;
    align-content: center;
    justify-content: center;
}

.photo {
    margin: 0;
}

.photo img {
    border-radius: 50%;
}


                                                        /*header*/
.header {
    grid-area: header;
    background: #565656;
    color: white;
    border-radius: 0 0 15px 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    height: 5vh;
}

                                                        /*me*/
.me {
    font-size: 14px;
    grid-area: me;
    border-top-left-radius: 20px;
    color: #73323F;
    font-family: 'Permanent Marker';
    height: 8vh;
}

                                                        /*imagenes*/
.draw-container {
    grid-area: draw-container;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 1vh;
}

.draws {
    margin: 0;
    height: 80vh;
}

.draws img {
    width: 100%;
    border-radius: 5px;
}

figure {
    display: flex;
}

                                                        /*footer*/
.footer {
    grid-area: footer;
    font-family: 'Pacifico', cursive;
    font-size: .8em;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #D5D5D5;
    height: 5vh;
    border-radius: 15px 15px 0 0;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
    text-decoration: none;
}


                                                        /* Animacion de la descripcion de los dibujos */
.grid-item {
    cursor: pointer;
    position: relative;
    display: block;
}

.draw-overlay {
    background: rgba(0,0,0, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 50px;
    width: auto;
}

.grid-item:hover .draw-overlay {
    display: flex;
}

.draw-description {
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
